/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
lib/
.clj-kondo/
.lsp/
clojure.*
nrepl.*
output.calva-*
.idea/
*.iml
*.xml
!repository/*.xml
!repository/*.jar

# Test files
resources/example.txt
newFile.txt
sample_results/
results/